<% if user_signed_in? %>
  <%= link_to "Create New Event", new_event_path, class: "btn btn-primary" %>
<% else %>
  <p><%= link_to "Sign in", new_user_session_path %> to create events.</p>
<% end %>

<h1>All Events</h1>

<h2>Upcoming Events</h2>
<% @upcoming_events.each do |event| %>
  <p>
    <%= link_to event.title, event_path(event) %> - <%= event.date.strftime("%B %d, %Y") %><br>
    Created by: <%= event.creator.email %><br>

    <% if event.creator == current_user %>
      <%= link_to "Edit", edit_event_path(event) %>
      <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
<% end %>

<h2>Past Events</h2>
<% @past_events.each do |event| %>
  <p>
    <%= link_to event.title, event_path(event) %> - <%= event.date.strftime("%B %d, %Y") %><br>
    Created by: <%= event.creator.email %><br>

    <% if event.creator == current_user %>
      <%= link_to "Edit", edit_event_path(event) %>
      <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
<% end %>
